/WebAppJDBC/target/
/RedirecionadorWeb/target/
/LoginWeb/target/
/Ecomerce/target/
/ConsultaFuncionario/target/
/AppWebJPA/target/
/WebJPA/target/
/JPA/SwingJPA/build/
/JPA/SwingJPA/dist/
/JPA/EnterpriseJPA/EnterpriseJPA-ejb/build/
/JPA/EnterpriseJPA/EnterpriseJPA-ejb/dist/
/JPA/EnterpriseJPA/EnterpriseJPA-war/build/
/JPA/EnterpriseJPA/build/
/JPA/EnterpriseJPA/EnterpriseJPA-war/dist/
/JPA/nbproject/private/
/AppQueryJPA/AppQueryJPA-ejb/build/
/AppQueryJPA/AppQueryJPA-war/build/
/AppQueryJPA/build/
/AppQueryJPA/AppQueryJPA-war/dist/
/AppQueryJPA/AppQueryJPA-ejb/dist/
